html{
  background-color: black;
}
header{
  border: 1px solid black;
  background: #0c79d1;
  overflow: auto;
}
h1{
  text-align: center;
  float: left;
  width: 350px;
  color: #d7db0c;
}
nav{
  margin: 30px;
  float: right;
  width: 400px;
}
table{
   text-align: center;
   border-collapse: collapse;
   background-color: #c8e6fb;
   margin: 20px, 0;
}
main{
  overflow: auto;
  background-image: url(fondo.jpg);
}
section{
  width: 800px;
  height: 900px;
  border: 2px solid red;
  background: #9f162a;
  overflow: auto;
  margin : 20px;
  float: left;
}
section p{
  float: left;
}
section img{
  float: left;
  padding-left: 25px;
}
section h2{
  text-align: center;
}
aside{
  margin: 20px;
  float: left;
  width: 400px;
}
aside article{
  background: #366688;
  border: 2px solid blue;
}
main>article{
  border: 2px solid blue;
  background: #366688;
  float: left;
}
footer{
  overflow: inherit;
}
